// Tipografia
$fuente_principal: 'Montserrat', sans-serif;

// Colores
$verde: #00913f;
$verdeClaro: #32cd32;
$rosa: #F53756;
$morado: #752F97;
$negro: #000;
$negroCarbon: #191919;
$blanco: #fff;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;