@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$negroCarbon;
        
    h1 {
        color: v.$blanco;
        text-align: center;
        @include m.tablet {
            margin: 0;
        }
        

    }

    .contenido-header {
        padding: 1rem;
        @include m.tablet {
            display: flex;
            justify-content: space-between ;
            align-items:center;

            

        }
        .contenedorLogo{

                        display: flex;
                        justify-content: start;
                        align-items: center;
                        width: 12rem;
                        height: 9rem;
                        background-color: v.$blanco;
                        text-align: center;
                        @include m.tablet {
                                justify-content: center;
                            }

                        .logoIMG {
                            display: block;
                            margin: 0;
                            height: auto;
                            width: 90%;
                            padding: 1rem;
                            
                        
                
                
                        }
                }

        
        
    }
}

.navegacion-principal {

    @include m.tablet {
        display: flex;
        gap: 2rem;
    }

    a {
        display: block;
        text-align: center;
        color: v.$blanco;
        font-size: 2.4rem;
        margin-bottom: 1rem;
        
        @include m.tablet {
            margin: 0;
     
        }
        &:hover {
            color: v.$verdeClaro;
        }
    }

    
}



